.main-contents {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto; /* Allows content scroll within main-contents only */
    max-height: 100%; /* Ensures it does not exceed its parent container */
    max-width: 100%;


  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .stat-item {
    background-color: #f5f5f5;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .stat-item h3 {
    margin: 0;
    font-size: 16px;
  }

  /* Main content area */
.main-content {
  display: flex;
}

/* Charts section */
.charts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex: 3;
  padding-right: 20px;
}

.chart {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  min-height: 200px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Approval cards in a row */
.approvals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
  