/* .sidebar {
    width: 250px !important;
    background-color: #0a0a0a !important;
    padding: 20px;
    border-right: 1px solid #ddd;
    overflow-y: auto !important;
    margin: 0 !important;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #ded3d3;
}

.sidebar ul li:hover {
    background-color: #5d5959 !important;
}

.sidebar ul li svg {
    margin-right: 10px;
    font-size: 18px;
} */
